html, body {
  margin:0;
  padding:0;
}
body {
  height: 100vh;
  display: grid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}
* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Fira+Sans:wght@300&family=Roboto+Condensed:wght@700&display=swap');
