main {
  grid-template-rows: 1fr 1fr;
}
#room-info {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}
#room {
  justify-self: center;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-family: Fira Sans;
  text-align: center;
  font-weight: 300;
  padding: 0 1em;
  font-size: max(4vw, 16px);
  height: 2em;
  line-height: 2;
  color: #313131;
  background-color: transparent;
  letter-spacing: 0.1em;
  width: 7.5em;
  max-width: 100%;
}
.result {
  display: grid;
  align-self: start;
  max-width: 720px;
  margin: 0 auto;
  width: 100%;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
}
.result .player[order="1"] {
  grid-row: 1;
}
.result .player[order="2"] {
  grid-row: 2;
}
.result .player[order="3"] {
  grid-row: 3;
}
.result .player[order="4"] {
  grid-row: 4;
}
.result .player[order="5"] {
  grid-row: 5;
}
.result .player[order="6"] {
  grid-row: 6;
}
.result .player[order="7"] {
  grid-row: 7;
}
.result .player[order="8"] {
  grid-row: 8;
}
.result .player[order="9"] {
  grid-row: 9;
}
.result .player[order="10"] {
  grid-row: 10;
}
.result .player[order="11"] {
  grid-row: 11;
}
.result .player[order="12"] {
  grid-row: 12;
}
.result .player[order="13"] {
  grid-row: 13;
}
.result .player[order="14"] {
  grid-row: 14;
}
.result .player[order="15"] {
  grid-row: 15;
}
.result .player[order="16"] {
  grid-row: 16;
}
.result .player[order="17"] {
  grid-row: 17;
}
.result .player[order="18"] {
  grid-row: 18;
}
.result .player[order="19"] {
  grid-row: 19;
}
.result .player[order="20"] {
  grid-row: 20;
}
.result .player[order="21"] {
  grid-row: 21;
}
.result .player[order="22"] {
  grid-row: 22;
}
.result .player[order="23"] {
  grid-row: 23;
}
.result .player[order="24"] {
  grid-row: 24;
}
.result .player[order="25"] {
  grid-row: 25;
}
.result .player[order="26"] {
  grid-row: 26;
}
.result .player[order="27"] {
  grid-row: 27;
}
.result .player[order="28"] {
  grid-row: 28;
}
.result .player[order="29"] {
  grid-row: 29;
}
.result .player[order="30"] {
  grid-row: 30;
}
.result .player[order="31"] {
  grid-row: 31;
}
.result .player[order="32"] {
  grid-row: 32;
}
.result .player[order="33"] {
  grid-row: 33;
}
.result .player[order="34"] {
  grid-row: 34;
}
.result .player[order="35"] {
  grid-row: 35;
}
.result .player[order="36"] {
  grid-row: 36;
}
.result .player[order="37"] {
  grid-row: 37;
}
.result .player[order="38"] {
  grid-row: 38;
}
.result .player[order="39"] {
  grid-row: 39;
}
.result .player[order="40"] {
  grid-row: 40;
}
.result .player[order="41"] {
  grid-row: 41;
}
.result .player[order="42"] {
  grid-row: 42;
}
.result .player[order="43"] {
  grid-row: 43;
}
.result .player[order="44"] {
  grid-row: 44;
}
.result .player[order="45"] {
  grid-row: 45;
}
.result .player[order="46"] {
  grid-row: 46;
}
.result .player[order="47"] {
  grid-row: 47;
}
.result .player[order="48"] {
  grid-row: 48;
}
.result .player[order="49"] {
  grid-row: 49;
}
.result .player[order="50"] {
  grid-row: 50;
}
.result .player[order="51"] {
  grid-row: 51;
}
.result .player[order="52"] {
  grid-row: 52;
}
.result .player[order="53"] {
  grid-row: 53;
}
.result .player[order="54"] {
  grid-row: 54;
}
.result .player[order="55"] {
  grid-row: 55;
}
.result .player[order="56"] {
  grid-row: 56;
}
.result .player[order="57"] {
  grid-row: 57;
}
.result .player[order="58"] {
  grid-row: 58;
}
.result .player[order="59"] {
  grid-row: 59;
}
.result .player[order="60"] {
  grid-row: 60;
}
.result .player[order="61"] {
  grid-row: 61;
}
.result .player[order="62"] {
  grid-row: 62;
}
.result .player[order="63"] {
  grid-row: 63;
}
.result .player[order="64"] {
  grid-row: 64;
}
.result .player[order="65"] {
  grid-row: 65;
}
.result .player[order="66"] {
  grid-row: 66;
}
.result .player[order="67"] {
  grid-row: 67;
}
.result .player[order="68"] {
  grid-row: 68;
}
.result .player[order="69"] {
  grid-row: 69;
}
.result .player[order="70"] {
  grid-row: 70;
}
.result .player[order="71"] {
  grid-row: 71;
}
.result .player[order="72"] {
  grid-row: 72;
}
.result .player[order="73"] {
  grid-row: 73;
}
.result .player[order="74"] {
  grid-row: 74;
}
.result .player[order="75"] {
  grid-row: 75;
}
.result .player[order="76"] {
  grid-row: 76;
}
.result .player[order="77"] {
  grid-row: 77;
}
.result .player[order="78"] {
  grid-row: 78;
}
.result .player[order="79"] {
  grid-row: 79;
}
.result .player[order="80"] {
  grid-row: 80;
}
.result .player[order="81"] {
  grid-row: 81;
}
.result .player[order="82"] {
  grid-row: 82;
}
.result .player[order="83"] {
  grid-row: 83;
}
.result .player[order="84"] {
  grid-row: 84;
}
.result .player[order="85"] {
  grid-row: 85;
}
.result .player[order="86"] {
  grid-row: 86;
}
.result .player[order="87"] {
  grid-row: 87;
}
.result .player[order="88"] {
  grid-row: 88;
}
.result .player[order="89"] {
  grid-row: 89;
}
.result .player[order="90"] {
  grid-row: 90;
}
.result .player[order="91"] {
  grid-row: 91;
}
.result .player[order="92"] {
  grid-row: 92;
}
.result .player[order="93"] {
  grid-row: 93;
}
.result .player[order="94"] {
  grid-row: 94;
}
.result .player[order="95"] {
  grid-row: 95;
}
.result .player[order="96"] {
  grid-row: 96;
}
.result .player[order="97"] {
  grid-row: 97;
}
.result .player[order="98"] {
  grid-row: 98;
}
.result .player[order="99"] {
  grid-row: 99;
}
.result .player {
  color: #313131;
  font-size: 18px;
  font-family: Fira Sans;
  font-weight: 300;
  display: grid;
  grid-gap: 1em;
  padding: 0.25em 1em;
  grid-template-columns: auto 1fr auto;
  border-bottom: 1px solid #cccccc;
}
.result .player span {
  display: block;
}
.result .player .order {
  width: 2em;
}
.result .player .name {
  font-family: Fira Sans;
  font-weight: 300;
  text-align: left;
}
.result .player .time {
  text-align: right;
}
.result .player .time span {
  display: inline-block;
  width: 0.55em;
}
.result .player .time span.dot {
  width: 0.2em;
}
.result .player:not([order]) {
  opacity: 0.75;
}
.result .player[order="1"] .time span:nth-last-child(-n+5) {
  opacity: 0;
}
.disconnected {
  opacity: 0.5 !important;
}
